<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
           body{
             background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
           }
    </style>
</head>


<body>

    <div style="padding-top: 45px;" class="container">
            <h1 class="jumbotron" style="text-align: center">Welcome</h1>
                <br>
               <a href="/checkin"><button class="btn btn-success btn-block">Checkin</button></a>
               <br>
               <a href="/checkout"><button class="btn btn-danger btn-block">Checkout</button></a>
               <br>
               <br>


               <%if(flag == 1){%>
                <p style="background-color: white; text-align: center;"> user is already in a meeting</p>
                <%}%>
                <%if(flag==2){%>
                  <p style="background-color: white; text-align: center;"> user is not checked in</p>
                <%}%>
                <%if(flag == 3){%>
                <p style="background-color: white; text-align: center;"> user successfully checked in</p>
                <%}%>
                <%if(flag == 4){%>
                    <p style="background-color: white; text-align: center;"> user successfully checked out</p>
                <%}%>
                       

    </div>
       
</body>